<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://bettse.gitlab.io/cattlegrid/CattleGrid.ipa</string>
		<key>displayImageURL</key>
		<string>https://bettse.gitlab.io/cattlegrid/image.57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://bettse.gitlab.io/cattlegrid/image.512x512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>H9NLRYZLBM</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
